.floating-header-share-tg {
    display: block;
    align-items: center;
    width: 60px;
    height: 60px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.floating-header-share-tg {
    background: #2CA5E0;
}

@media (max-width: 900px) {
    .floating-header {
        height: 40px;
    }

    .floating-header-title,
    .floating-header-logo {
        font-size: 1.5rem;
    }

    .floating-header-share-tg {
        width: 40px;
        height: 40px;
        line-height: 38px;
    }
}


/* Use GitLab-like font for code blocks instead of ugly monospace */

code,
pre,
samp {
    font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
}


/* Reduce padding-bottom of the footer by 20px */
.site-footer {
    padding-bottom: 25px;
}

/* Make the post content font size 0.3rem tinier */
.post-full-content {
    font-size: 1.9rem;
}


.nav {
    font-size: 1.2rem;
    font-weight: bold;
}

.site-footer-content {
    font-size: 1.6rem;
}

kbd {
    padding: 0.1em 0.6em;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    margin: 0 0.1em;
    text-shadow: 0 1px 0 #fff;
    line-height: 1.4;
    background-color: #E5E5E5;
}

 .menu{
    background-color: #E5EFF5;
}




